#sg-grid {
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -360px;
  width: 720px;
  height: 175px;
  z-index: 9999;
  box-shadow: 0 0 10px gray; }
  #sg-grid .sg-r {
    height: 25px;
    background-color: white;
    line-height: 23px;
    text-align: left; }
    #sg-grid .sg-r:nth-child(odd) {
      background-color: #f1f1f1; }
    #sg-grid .sg-r .sg-c-time {
      text-align: center;
      float: left;
      width: 40px;
      height: 25px; }
      #sg-grid .sg-r .sg-c-time:first-child {
        margin-left: 40px; }
      #sg-grid .sg-r .sg-c-time:nth-child(odd) {
        background-color: white; }
  #sg-grid .sg-classes {
    position: absolute;
    top: 0;
    left: 0; }
    #sg-grid .sg-classes .sg-classes-content {
      display: block;
      position: relative;
      width: 720px;
      height: 175px; }
      #sg-grid .sg-classes .sg-classes-content .sg-class {
        position: absolute;
        background-color: rgba(0, 244, 0, 0.2);
        color: #333;
        width: 80px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        border-radius: 20px;
        border: 1px solid #333;
        box-sizing: border-box;
        /*
        &:nth-child(1) { background-color:green; }
        &:nth-child(2) { background-color:red; }
        &:nth-child(3) { background-color:orange; }
        &:nth-child(4) { background-color:blue; }
        &:nth-child(5) { background-color:gray; }
        &:nth-child(6) { background-color:purple; }
        &:nth-child(7) { background-color:black; }
        */ }
        #sg-grid .sg-classes .sg-classes-content .sg-class a {
          color: #333;
          text-decoration: none; }
      #sg-grid .sg-classes .sg-classes-content .sg-d {
        width: 160px; }
      #sg-grid .sg-classes .sg-classes-content .sg-m {
        transform: translateX(-20px); }
      #sg-grid .sg-classes .sg-classes-content .sg-seg {
        top: 25px; }
      #sg-grid .sg-classes .sg-classes-content .sg-ter {
        top: 50px; }
      #sg-grid .sg-classes .sg-classes-content .sg-qua {
        top: 75px; }
      #sg-grid .sg-classes .sg-classes-content .sg-qui {
        top: 100px; }
      #sg-grid .sg-classes .sg-classes-content .sg-sex {
        top: 125px; }
      #sg-grid .sg-classes .sg-classes-content .sg-sab {
        top: 150px; }
      #sg-grid .sg-classes .sg-classes-content .sg-06 {
        left: 40px; }
      #sg-grid .sg-classes .sg-classes-content .sg-07 {
        left: 80px; }
      #sg-grid .sg-classes .sg-classes-content .sg-08 {
        left: 120px; }
      #sg-grid .sg-classes .sg-classes-content .sg-09 {
        left: 160px; }
      #sg-grid .sg-classes .sg-classes-content .sg-10 {
        left: 200px; }
      #sg-grid .sg-classes .sg-classes-content .sg-11 {
        left: 240px; }
      #sg-grid .sg-classes .sg-classes-content .sg-12 {
        left: 280px; }
      #sg-grid .sg-classes .sg-classes-content .sg-13 {
        left: 320px; }
      #sg-grid .sg-classes .sg-classes-content .sg-14 {
        left: 360px; }
      #sg-grid .sg-classes .sg-classes-content .sg-15 {
        left: 400px; }
      #sg-grid .sg-classes .sg-classes-content .sg-16 {
        left: 440px; }
      #sg-grid .sg-classes .sg-classes-content .sg-17 {
        left: 480px; }
      #sg-grid .sg-classes .sg-classes-content .sg-18 {
        left: 520px; }
      #sg-grid .sg-classes .sg-classes-content .sg-19 {
        left: 560px; }
      #sg-grid .sg-classes .sg-classes-content .sg-20 {
        left: 600px; }
      #sg-grid .sg-classes .sg-classes-content .sg-21 {
        left: 640px; }
      #sg-grid .sg-classes .sg-classes-content .sg-22 {
        left: 680px; }
