#sgbuild {
    z-index: 9999;
    width: 720px;
    position: fixed;
    top: 5px;
    left: 50%;
    margin-left: -360px;
    box-shadow: 0 0 10px #3f4c83;
    border-radius: 5px;
  }
  #sgbuild header {
    background-color: #404e82;
    padding: 0.5em;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: white;
  }
  #sgbuild header a {
    color: white;
    text-decoration: underline;
  }
  #sgbuild main {
    background-color: #eff3fa;
  }
  #sgbuild main .sg-g {
    position: relative;
  }
  #sgbuild main .sg-g .sg-r {
    display: block;
    width: 100%;
    height: 30px;
  }
  #sgbuild main .sg-g .sg-r:nth-child(odd) {
    background-color: white;
  }
  #sgbuild main .sg-g .sg-r:after {
    content: "";
    display: block;
    clear: both;
  }
  #sgbuild main .sg-g .sg-c {
    float: left;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    font-size: 9px;
    border-left: 1px solid #c3d2ec;
    box-sizing: border-box;
  }
  #sgbuild main .sg-g .sg-c:last-child {
    border-right: 1px solid #c3d2ec;
  }
  #sgbuild main .sg-g .sg-c:hover {
    background-color: #c3d2ec;
    cursor: pointer;
  }
  #sgbuild main .sg-g .sg-c-w {
    text-transform: uppercase;
  }
  #sgbuild main .sg-g .sg-i {
    position: absolute;
    background-image: linear-gradient(rgba(0, 150, 136, 0.8), #046d63);
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #02695f;
  }
  #sgbuild main .sg-g .sg-i a {
    color: white;
    text-decoration: none;
  }
  #sgbuild main .sg-g .sg-6 {
    left: 40px;
  }
  #sgbuild main .sg-g .sg-7 {
    left: 80px;
  }
  #sgbuild main .sg-g .sg-8 {
    left: 120px;
  }
  #sgbuild main .sg-g .sg-9 {
    left: 160px;
  }
  #sgbuild main .sg-g .sg-10 {
    left: 200px;
  }
  #sgbuild main .sg-g .sg-11 {
    left: 240px;
  }
  #sgbuild main .sg-g .sg-12 {
    left: 280px;
  }
  #sgbuild main .sg-g .sg-13 {
    left: 320px;
  }
  #sgbuild main .sg-g .sg-14 {
    left: 360px;
  }
  #sgbuild main .sg-g .sg-15 {
    left: 400px;
  }
  #sgbuild main .sg-g .sg-16 {
    left: 440px;
  }
  #sgbuild main .sg-g .sg-17 {
    left: 480px;
  }
  #sgbuild main .sg-g .sg-18 {
    left: 520px;
  }
  #sgbuild main .sg-g .sg-19 {
    left: 560px;
  }
  #sgbuild main .sg-g .sg-20 {
    left: 600px;
  }
  #sgbuild main .sg-g .sg-21 {
    left: 640px;
  }
  #sgbuild main .sg-g .sg-22 {
    left: 680px;
  }
  #sgbuild main .sg-g .sg-seg {
    top: 0px;
  }
  #sgbuild main .sg-g .sg-ter {
    top: 30px;
  }
  #sgbuild main .sg-g .sg-qua {
    top: 60px;
  }
  #sgbuild main .sg-g .sg-qui {
    top: 90px;
  }
  #sgbuild main .sg-g .sg-sex {
    top: 120px;
  }
  #sgbuild main .sg-g .sg-sab {
    top: 150px;
  }
  #sgbuild main .sg-g .sg-d {
    width: 160px;
  }
  #sgbuild main .sg-g .sg-b {
    margin-left: 20px;
  }
  #sgbuild main .sg-g .sg-m:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #4CAF50;
    float: right;
    border-radius: 4px;
    position: fixed;
    transform: translate(33px, -22px);
  }
  #sgbuild footer {
    background-color: #c3d2ec;
    border-radius: 0 0 5px 5px;
  }
  #sgbuild footer .sg-o {
    font-size: 10px;
    background-color: white;
  }
  #sgbuild footer .sg-o a.sg-o-i {
    text-align: left;
    background-color: #da9d3a;
    color: white;
    text-decoration: none;
    font-size: 10px;
    display: block;
    padding: 5px;
  }
  #sgbuild footer .sg-o a.sg-o-i:nth-child(odd) {
    background-color: #bd8e40;
  }
  #sgbuild footer .sg-o a.sg-o-i:hover {
    background-color: #ecb75e;
  }
  #sgbuild footer .sg-s {
    padding: 0.5em;
    text-align: center;
  }
  