$dark-blue: #404e82;
$light-blue: #c3d2ec;
$lighten-blue: #eff3fa;
$cel-width: 40px;
$cel-height: 30px;
$col-len: 18;
$row-len: 6;
$weekdays: seg ter qua qui sex sab;
$h-min: 6;
$h-max: 22;
#sgbuild {
  z-index:9999;
  width: $col-len * $cel-width;
  position:fixed;
  top:5px;
  left: 50%;
  margin-left: -($col-len * $cel-width)/2;
  box-shadow: 0 0 10px #3f4c83;
  border-radius:5px;
  header {
    background-color: $dark-blue;
    padding: 0.5em;
    text-align: center;
    border-radius:5px 5px 0 0;
    color:white;
    a {
      color:white;
      text-decoration:underline;
    }
  }
  main {
    background-color: $lighten-blue;
    .sg-g {
      position:relative;
      .sg-r {
        display:block;
        width:100%;
        height:$cel-height;
        &:nth-child(odd) {
          background-color: white;
        }
        &:after {
          content:"";
          display:block;
          clear:both;
        }
      }
      .sg-c {
        float:left;
        width:$cel-width;
        height:$cel-height;
        text-align:center;
        line-height:25px;
        font-size:9px;
        border-left:1px solid $light-blue;
        box-sizing: border-box;
        &:last-child {
          border-right:1px solid $light-blue;
        }
        &:hover {
          background-color: $light-blue;
          cursor:pointer;
        }
      }
      .sg-c-w {
        text-transform: uppercase;
      }
      .sg-i {
        position: absolute;
        background-image: linear-gradient(rgba(0, 150, 136, 0.8), #046d63);
        color:white;
        width: $cel-width * 2;
        height: $cel-height;
        text-align: center;
        line-height:25px;
        border-radius:20px;
        box-sizing: border-box;
        border:1px solid #02695f;
        a {
          color: white;
          text-decoration:none;
        }
      }
      @for $i from $h-min through $h-max {
        .sg-#{$i} {
          left: $cel-width * ($i - ($h-min - 1));
        }
      }
      @for $i from 1 through length($weekdays) {
        .sg-#{nth($weekdays, $i)} {
          top: $cel-height * ($i - 1);
        }
      }
      .sg-d {
        width: $cel-width * 4;
      }
      .sg-b {
        margin-left: ($cel-width)/2;
      }
      .sg-m {
        &:after {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          background-color: #4CAF50;
          float: right;
          border-radius: 4px;
          position: fixed;
          transform: translate(33px,-22px);
        }
      }
    }
  }
  footer {
    background-color:$light-blue;
    border-radius: 0 0 5px 5px;
    .sg-o {
      font-size:10px;
      background-color:white;
      a.sg-o-i {
        text-align:left;
        background-color:#da9d3a;
        color:white;
        text-decoration:none;
        font-size:10px;
        display:block;
        padding:5px;
        &:nth-child(odd) {
          background-color:#bd8e40;
        }
        &:hover {
          background-color:#ecb75e;
        }
      }
    }
    .sg-s {
      padding: 0.5em;
      text-align:center;
    }
  }
}