#sgbuild
  header SIGAABUILD - Visualize as disiciplinas - 
    a(href='https://linkedin.com/in/falmeidaco', target='_blank') Criado por Felipe Almeida
  main
    .sg-g
      .sg-g-i
      each w in ['seg','ter','qua','qui','sex','sab']
        .sg-r
          div(class='sg-c sg-c-w')= w
          - var t = 6;
          while t < 23
            .sg-c(data-pos=w + t)= t + "h"
            -t++
  footer
    .sg-o
      a.sg-o-i(href='#') SMD0030 - ANALISE E PROJETO DE SISTEMAS
    .sg-s
      | Nenhuma disciplina selecionada